:root {
    /* --primary-color: #e8f1e7;
    --secondary-color: #e8f1e7;
    --tertiary-color: #e8f1e7;
    --quaternary-color: #e8f1e7; */

    --body-background: #e8f1e7;
    --body-font: #000000;
    --body-background-dm: #1e1e1e;
    --body-font-dm: #ffffff;

    --sidebar-background: #387f75;
    --sidebar-hover: rgba(255, 255, 255, 0.2);
    --sidebar-font: #ffffff;
    --sidebar-background-dm: #121212;
    --sidebar-hover-dm: rgba(255, 255, 255, 0.1);
    --sidebar-font-dm: #ffffff;

    --basepage-background: #e8f1e7;
    --basepage-font: #000000;
    --basepage-background-dm: #1e1e1e;
    --basepage-font-dm: #ffffff;

    --topbar-background: #6a9993;
    --topbar-font: #ffffff;
    --topbar-badge: #387f75;
    --topbar-background-dm: #222222;
    --topbar-font-dm: #ffffff;
    --topbar-badge-dm: rgba(255, 255, 255, 0.3);

    --topbar-dropdown: var(--topbar-background);
    --topbar-dropdown-hover: rgba(255, 255, 255, 0.2);
    --topbar-dropdown-font: #ffffff;
    --topbar-dropdown-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    --topbar-dropdown-dm: var(--topbar-background-dm);
    --topbar-dropdown-hover-dm: rgba(255, 255, 255, 0.1);
    --topbar-dropdown-font-dm: #ffffff;
    --topbar-dropdown-shadow-dm: 0px 4px 6px rgba(0, 0, 0, 0.3);

    --alert-success: #28a745;
    --alert-success-font: #ffffff;
    --alert-success-dm: #1e7e34;
    --alert-success-font-dm: #c3e6cb;
    --alert-error: #dc3545;
    --alert-error-font: #ffffff;
    --alert-error-dm: #a71d2a;
    --alert-error-font-dm: #f8d7da;
    --alert-warning: #ffc107;
    --alert-warning-font: #856404;
    --alert-warning-dm: #d39e00;
    --alert-warning-font-dm: #fff3cd;

    --card: #ffffff;
    --card-font: #000000;
    --card-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    --card-dm: #222222;
    --card-font-dm: #ffffff;
    --card-shadow-dm: 0px 4px 6px rgba(255, 255, 255, 0.1);

    --table-line-border: 1px solid #cccccc;
    --table-line-border-dm: 1px solid #555555;

    --tag: #387f75;
    --tag-font: #ffffff;
    --tag-dm: #555555;
    --tag-font-dm: #ffffff;

    --button: #387f75;
    --button-hover: #285c54;
    --button-font: #ffffff;
    --button-dm: #555555;
    --button-hover-dm: rgba(255, 255, 255, 0.1);
    --button-font-dm: #ffffff;

    --form-components: var(--card);
    --form-components-font: var(--card-font);
    --form-components-border: 2px solid var(--button);
    --form-components-dm: var(--card-dm);
    --form-components-font-dm: var(--card-font-dm);
    --form-components-border-dm: 2px solid var(--button-dm);

    --pop-up-background: rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: var(--body-background);
    color: var(--body-font);
    display: flex;
    min-height: 100vh;
    transition: 0.3s;
}
.dark-mode {
    background-color: var(--body-background-dm);
    color: var(--body-font-dm);
}

/* menu lateral inicio */

.sidebar {
    background: var(--sidebar-background);
    color: var(--sidebar-font);
    width: 350px;
    padding: 20px;
    position: fixed;
    height: 100vh;
    font-size: 24px;
    transition: 0.3s;
}
.dark-mode .sidebar {
    background: var(--sidebar-background-dm);
    color: var(--sidebar-font-dm);
}
.sidebar ul {
    list-style: none;
}
.sidebar li {
    padding: 10px;
    cursor: pointer;
}
.sidebar li:hover {
    background-color: var(--sidebar-hover);
}
.dark-mode .sidebar li:hover {
    background-color: var(--sidebar-hover-dm);
}
.sidebar ul li a {
    text-decoration: none;
    color: var(--sidebar-font);
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.dark-mode .sidebar ul li a {
    color: var(--sidebar-font-dm);
}

.submenu {
    display: none;
    padding-left: 20px;
}

/* menu lateral fim */

.base-page {
    background-color: var(--basepage-background);
    color: var(--basepage-font);
    margin-left: 350px;
    width: 100%;
    margin-top: 40px;
    padding-top: 20px;
    transition: 0.3s;
}
.dark-mode .base-page {
    background-color: var(--basepage-background-dm);
    color: var(--basepage-font-dm);
}

/* menu superior inicio */

.topbar {
    background-color: var(--topbar-background);
    color: var(--topbar-font);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    gap: 20px;
    top: 0;
    left: 350px;
    width: calc(100% - 350px);
    z-index: 1000;
    transition: 0.3s;
}
.dark-mode .topbar {
    background: var(--topbar-background-dm);
    color: var(--topbar-font-dm);
}
.menu-item {
    position: relative;
    cursor: pointer;
    padding: 10px;
}
.badge {
    background: var(--topbar-badge);
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: -10px;
}
.dark-mode .badge {
    background: var(--topbar-badge-dm);
}
.topbar-dropdown {
    background: var(--topbar-dropdown);
    color: var(--topbar-dropdown-font);
    box-shadow: var(--topbar-dropdown-shadow);
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    width: 150px;
    transition: 0.3s;
}
.dark-mode .topbar-dropdown {
    background: var(--topbar-dropdown-dm);
    color: var(--topbar-dropdown-font-dm);
    box-shadow: var(--topbar-dropdown-shadow-dm);
}
.topbar-dropdown li {
    padding: 10px;
    cursor: pointer;
}
.topbar-dropdown li:hover {
    background: var(--topbar-dropdown-hover);
}
.dark-mode .topbar-dropdown li:hover {
    background: var(--topbar-dropdown-hover-dm);
}

/* menu superior fim */

/* alertas inicio */

.alert {
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
    transition: 0.3s;
}
.alert-success {
    background-color: var(--alert-success);
    color: var(--alert-success-font);
}
.alert-error {
    background-color: var(--alert-error);
    color: var(--alert-error-font);
}
.alert-warning {
    background-color: var(--alert-warning);
    color: var(--alert-warning-font);
}
.dark-mode .alert-success {
    background-color: var(--alert-success-dm);
    color: var(--alert-success-font-dm);
}
.dark-mode .alert-error {
    background-color: var(--alert-error-dm);
    color: var(--alert-error-font-dm);
}
.dark-mode .alert-warning {
    background-color: var(--alert-warning-dm);
    color: var(--alert-warning-font-dm);
}

/* alertas fim */

/* posicionamento inicio */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    margin-bottom: 10px;
}
.col {
    width: 100%;
}
.col_10 {
    width: calc(10% - 18px);
}
.col_15 {
    width: calc(15% - 17px);
}
.col_20 {
    width: calc(20% - 16px);
}
.col_25 {
    width: calc(25% - 15px);
}
.col_30 {
    width: calc(30% - 14px);
}
.col_33 {
    width: calc(33.3% - 13.1px);
}
.col_40 {
    width: calc(40% - 12px);
}
.col_50 {
    width: calc(50% - 10px);
}
.col_66 {
    width: calc(66.6% - 6px);
}
.col_75 {
    width: calc(75% - 6px);
}

/* posicionamento fim */

/* componentes inicio */

.presentation {
    background: var(--card);
    color: var(--card-font);
    box-shadow: var(--card-shadow);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    transition: 0.3s;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 20px;
    transition: 0.3s;
}
.card {
    background: var(--card);
    color: var(--card-font);
    box-shadow: var(--card-shadow);
    flex: 1;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
}
.card-title {
    font-weight: bold;
    margin: 15px 0;
    transition: 0.3s;
}
.card-value {
    font-size: 24px;
    font-weight: bold;
    transition: 0.3s;
}
.dark-mode .presentation,
.dark-mode .cards-container,
.dark-mode .card {
    background: var(--card-dm);
    color: var(--card-font-dm);
    box-shadow: var(--card-shadow-dm);
}

.popupConfirmation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--pop-up-background);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

label {
    display: block;
    margin-bottom: 5px;
}
.label-as-input {
    height: 75px;
    align-content: center;
}
.button-as-input {
    margin-top: 24px;
    align-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}
td {
    padding: 10px;
    border: var(--table-line-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: 0.3s;
}
.dark-mode td {
    border: var(--table-line-border-dm);
}
td form {
    display: inline;
    margin: 0;
    padding: 0;
}
.td-buttons {
    display: flex;
    gap: 10px;
}
.td-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.td-content {
    display: flex;
    align-items: center;
    gap: 10px;
}
.tag {
    background-color: var(--tag);
    color: var(--tag-font);
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 3px;
    text-transform: uppercase;
}
.dark-mode .tag {
    background-color: var(--tag-dm);
    color: var(--tag-font-dm);
}

input[type="submit"],
input[type="button"] {
    background-color: var(--button);
    color: var(--button-font);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}
input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: var(--button-hover);
}
.dark-mode input[type="submit"],
.dark-mode input[type="button"] {
    background-color: var(--button-dm);
    color: var(--button-font-dm);
}
.dark-mode input[type="submit"]:hover,
.dark-mode input[type="button"]:hover {
    background-color: var(--button-hover-dm);
}

/* componentes fim */

/* formulario inicio */

button {
    background-color: var(--button);
    color: var(--button-font);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: var(--button-hover);
}
.dark-mode button {
    background-color: var(--button-dm);
    color: var(--button-font-dm);
}
.dark-mode button:hover {
    background-color: var(--button-hover-dm);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select {
    background-color: var(--form-components);
    color: var(--form-components-font);
    border: var(--form-components-border);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%;
    transition: 0.3s;
}
.dark-mode input,
.dark-mode select {
    background-color: var(--form-components-dm);
    color: var(--form-components-font-dm);
    border: var(--form-components-border-dm);
}

.textarea {
    background-color: var(--form-components);
    color: var(--form-components-font);
    border: var(--form-components-border);
    width: 100%;
    resize: vertical;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    max-width: 100vw;
    box-sizing: border-box;
    transition: 0.3s;
    font-size: 14px;
}
.dark-mode .textarea {
    background-color: var(--form-components-dm);
    color: var(--form-components-font-dm);
    border: var(--form-components-border-dm);
}

.radio-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.radio-option {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

input[type="radio"] {
    background-color: var(--form-components);
    border: var(--form-components-border);
    appearance: none;
    margin-bottom: 0px;
    border-radius: 50%;
    display: inline-block;
    padding: 7px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}
input[type="radio"]:checked {
    background-color: var(--button);
}
.dark-mode input[type="radio"] {
    background-color: var(--form-components-dm);
}
.dark-mode input[type="radio"]:checked {
    background-color: var(--button-dm);
}

/* revisar */
input[type="checkbox"] {
    background-color: var(--form-components);
    border: var(--form-components-border);
    appearance: none;
    margin-bottom: 0px;
    border-radius: 50%;
    display: inline-block;
    border-radius: 7px;
    width: 20px;
    height: 20px;
}
input[type="checkbox"]:checked {
    background-color: var(--button);
}
.dark-mode input[type="checkbox"] {
    background-color: var(--form-components-dm);
}
.dark-mode input[type="checkbox"]:checked {
    background-color: var(--button-dm);
}

/* formulario fim */

/* Tablet: entre 768px e 1024px */
@media screen and (max-width: 1024px) {
    .md_col {
        width: 100%;
    }
    .md_col_10 {
        width: calc(10% - 18px);
    }
    .md_col_15 {
        width: calc(15% - 17px);
    }
    .md_col_20 {
        width: calc(20% - 16px);
    }
    .md_col_25 {
        width: calc(25% - 15px);
    }
    .md_col_30 {
        width: calc(30% - 14px);
    }
    .md_col_33 {
        width: calc(33.3% - 13.1px);
    }
    .md_col_40 {
        width: calc(40% - 12px);
    }
    .md_col_50 {
        width: calc(50% - 10px);
    }
    .md_col_66 {
        width: calc(66.6% - 6px);
    }
    .md_col_75 {
        width: calc(75% - 6px);
    }
}

/* Celular: abaixo de 768px */
@media screen and (max-width: 767px) {
    .sm_col {
        width: 100%;
    }
    .sm_col_10 {
        width: calc(10% - 18px);
    }
    .sm_col_15 {
        width: calc(15% - 17px);
    }
    .sm_col_20 {
        width: calc(20% - 16px);
    }
    .sm_col_25 {
        width: calc(25% - 15px);
    }
    .sm_col_30 {
        width: calc(30% - 14px);
    }
    .sm_col_33 {
        width: calc(33.3% - 13.1px);
    }
    .sm_col_40 {
        width: calc(40% - 12px);
    }
    .sm_col_50 {
        width: calc(50% - 10px);
    }
    .sm_col_66 {
        width: calc(66.6% - 6px);
    }
    .sm_col_75 {
        width: calc(75% - 6px);
    }
}
